# NpsGate NFQueue plugin configuration file

outputs:
(
    {
        name     = "SplitTCP";
        plugin   = "SplitTCP";
        protocol = 6;
    }
);

nfqueue:
{
	# NFQueue number to use. Defaults to 0. Can be used to specify a specific queue to use.
    queue-number = 0;

    # The MTU to use with nfqueue. This is the size of the largest packet that can be received by
	# the plugin. Should be at least 1500.
    mtu = 10000;

    # Timeout in seconds 
    read-timeout = 10;

	# List of capture rules. The nfqueue plugin generates an iptables rule for each entry. Each
	# entry supports the following options (with the iptables equivelent option in parenthesis).
	# All options are added together to form a single rule. See the iptables documentation for
	# specific formats for each of the parameters.
	#	protocol (-p)				- Protocol to capture. e.g. tcp, udp, all
	#	source (-s)					- Source IP or network to capture
	#	destination (-d)			- Destination IP or network to capture
	#	source-port (--sports)		- Source port number to capture
	#	destination-port (--dports)	- Destination port number to capture
	#	port (--ports)				- Match either source or destination port
	capture:
	(
		{
			protocol = "tcp";
			source = "192.168.2.0/24";
			destination = "192.168.2.0/24";
			port = "80";
		},
		{
			protocol = "udp";
			source = "192.168.3";
			port = "5000-5010";
		},
		{
			protocol = "tcp";
			port = "6666";
		}
	);
};
