##
## NpsGate Example Configuration File: capture.config
##   (See README.capture for an explination of this configuration)
##

NpsGate:
{
	# Set the log level (default: 3)
	# 1=CRITICAL, 2=WARNING, 3=INFO, 4=DEBUG, 5=TRACE
	log_level	= 3;

	# Filter the logger output to only show certain modules. Modules
	# are the same name as the source file (e.g. logger.cpp). Multiple
	# modules can be separated by a '|'
	#log_filter	= "logger.cpp|pluginmanager.cpp|plugincore.cpp";

	# Halt execution when a CRITICAL exception occurs (default: true)
	halt_critical	= true;

	# Path where the plugins are located
	plugindir 	= "plugins";

	# Path where the plugin config files are located
	plugin_conf_dir = "/full/path/to/plugin/config/directory/";

}


# List of plugins to load. Each plugin may have the following items:
#
#	name	- Textual name of the plugin (required).
#	library	- Plugin shared library (required).
#	config	- Plugin config file name (optional).
#	enabled	- Is the plugin enabled (optional, default: true).
#
plugins:
(
    {
		name	  = "NFQueue";
		library   = "nfqueue.so";
		config    = "nfqueue.config";
		enabled   = true;
	},
    {
		name	  = "Duplicate";
		library   = "duplicate.so";
		config    = "duplicate.config";
		enabled   = true;
    },
    {
		name	  = "IPOutput";
		library   = "ipoutput.so";
		config    = "ipoutput.config";
		enabled   = true;
    },
	{
		name      = "PCAPOutput";
		library   = "pcap_output.so";
		config    = "pcap_output.config";
		enabled   = true;
	}
);

